@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* #E8AABE */
    background-image: url(../Images/login.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 800px;
}

.Login {
    position: absolute;
    width: 550px;
    height: 588px;
    left: 1000px;
    top: 165px;
    background-image: none;
}

.loginHeading {
    /* background-color: white; */
    text-align: center;
    padding-top: 15px;
    margin-bottom: 2em;
    margin: auto;


}

form {
    width: 300px;
    margin-left: 630px;
}

form label {
    display: flex;
    font-size: 18px;
}

.form-input {

    /* width: 100%;
                padding: 7px;
                border: none;
                border: 1px solid black;
                border-radius: 6px;
                outline: none; */
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid #dddddd;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form-input:focus {
    border-color: var(--border-color);
    background: #ffffff;
}


button {
    border: none;
    background: #ea1538;
    margin-top: 30px;
    padding: 12px 30px 12px 15px;
    border-radius: 12px;
    color: #ea1538;
    font-weight: bold;
    font-size: 10px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
}

#title {
    position: relative;
    width: 1440px;
    height: 100px;
    width: 100%;
    padding: 0px;
    background: #92dce5;
    text-align: center;
    font-size: 3em;
    font-family: 'Lobster', cursive;
}

#logo {
    width: 75px;
    height: 75px;
    position: relative;
    padding: 0px;
    display: inline;
    top: 20px;
}

.Title {
    background-color: #e8abe8;
    font-family: 'Lobster', cursive;
}